<div class="row p-3">
    <div class="col">
        <h4>Extrato</h4>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Data</th>
                    <th>Descrição</th>
                    <th>Valor</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                @for (item of transactions; track $index) {
                <tr>
                    <td>{{ item.date | date: 'dd/MM/yyyy' }}</td>
                    <td>{{ item.description }}</td>
                    <td [class]="item.type | valueTypeColor">
                        {{ item.amount | signedValue: item.type | currency }}
                    </td>
                    <td>
                        <button class="btn btn-sm btn-outline-primary me-2" (click)="onEdit(item.id)">
                            Editar
                        </button>
                        <button class="btn btn-sm btn-outline-danger" (click)="onDelete(item.id)">
                            Excluir
                        </button>
                    </td>
                </tr>
                }
            </tbody>
        </table>
        <button class="btn btn-primary" (click)="redirectToCreate()">
            Adicionar Transação
        </button>
    </div>
</div>