.sidebar {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 64px);
  height: auto;
  background-color: var(--secondary-color) !important;
  padding: 48px 15px;
  box-sizing: border-box;
}

.menu-item {
  margin-bottom: 10px;
  border-radius: 2px;
  background-color: var(--mat-sys-primary) !important;
  color: #fff !important;

  &.active {
    background-color: var(--primary-color) !important;
    color: #fff !important;
  }
}
