<div class="dashboard-container">
    <div>
        <h3>Bem vindo, {{ firstName$ | async }} !</h3>
    </div>
    <div class="row p-3">
        <div class="col">
            <mat-card class="mat-primary">
                <mat-card-header>
                    <h5>Saldo em Conta</h5>
                    <button mat-icon-button class="custom-icon-button" (click)="toogleBalance()">
                        <mat-icon>{{isBalanceVisible() ? 'visibility' : 'visibility_off'}}</mat-icon>
                    </button>
                </mat-card-header>
                <mat-card-content class="valor">
                    <p [class]="(totals.balance) | negativeValue">
                        @if (isBalanceVisible()) {
                        {{ totals.balance | currency }}                       
                        }
                        @else {
                        R$ *****
                        }

                    </p>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col">
            <mat-card>
                <mat-card-header>
                    <h5>Receitas (mês)</h5>
                </mat-card-header>
                <mat-card-content class="valor">
                    <p class="text-success">
                        {{ totals.income | currency }}
                    </p>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col">
            <mat-card>
                <mat-card-header>
                    <h5>Despesas (mês)</h5>
                </mat-card-header>
                <mat-card-content class="valor">
                    <p class="text-danger">
                        - {{ totals.expense | currency }}
                    </p>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
    <div class="row p-3">
        <div class="col table-responsive">
            <h5>Últimas transações</h5>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Data</th>
                        <th>Descrição</th>
                        <th>Valor</th>
                    </tr>
                </thead>
                <tbody>
                    @for (item of lastTransactions; track $index) {
                    <tr>
                        <td>{{ item.date | date: 'dd/MM/yyyy' }}</td>
                        <td>{{ item.description }}</td>
                        <td [class]="item.type | valueTypeColor">
                            {{ item.amount | signedValue: item.type | currency }}
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="text-end">
            <button class="btn btn-outline-primary btn-sm" (click)="navigateToTransactions()">
                Ver mais...
            </button>
        </div>       
    </div>
</div>