<div class="dashboard-container">
    <div>
        <h3>Bem vindo, {{ authService.user()| firstName }} ! 👋 </h3>
    </div>
    <div class="row p-3">
        <div class="col">
            <mat-card class="mat-primary">
                <mat-card-header>
                    <h5>{{ 'DASHBOARD.SALDO_DISPONIVEL' | translate }}</h5>
                    <button mat-icon-button class="custom-icon-button" (click)="toogleBalance()">
                        <mat-icon>{{isBalanceVisible() ? 'visibility' : 'visibility_off'}}</mat-icon>
                    </button>
                </mat-card-header>
                <mat-card-content class="valor">
                    <p [class]="accountData().balance| negativeValue">
                        @if (isBalanceVisible()) {
                        {{ accountData().balance| currency }}
                        }
                        @else {
                        R$ *****
                        }

                    </p>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col">
            <mat-card>
                <mat-card-header>
                    <h5>Receitas (mês)</h5>
                </mat-card-header>
                <mat-card-content class="valor">
                    <p class="text-success">
                        {{ totalIncome | currency }}
                    </p>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col">
            <mat-card>
                <mat-card-header>
                    <h5>Despesas (mês)</h5>
                </mat-card-header>
                <mat-card-content class="valor">
                    <p class="text-danger">
                        - {{ totalExpense | currency }}
                    </p>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
    <div class="row p-3">
        <div class="col table-responsive">
            <h5>{{ 'DASHBOARD.ULTIMAS_TRANSACOES' | translate}}</h5>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Data</th>
                        <th>Descrição</th>
                        <th>Valor</th>
                    </tr>
                </thead>
                <tbody>
                    @for (item of lastTransactions; track $index) {
                    <tr>
                        <td>{{ item.date | date: 'dd/MM/yyyy' }}</td>
                        <td>{{ item.description }}</td>
                        <td [class]="item.type | valueTypeColor">
                            {{ item.amount | signedValue: item.type | currency }}
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>

        @defer (on interaction(loadButton)) {
        <app-credit-card-invoice></app-credit-card-invoice>
        }
        @placeholder {
        <div #loadButton class="loading-placeholder" style="color: rgb(20, 20, 128) ; cursor: pointer;">
            Clique para ver a fatura do cartão de crédito
        </div>
        }
        @loading (minimum 2s) {
        <div class="loading-placeholder" style="color: #2196f3;">
            Carregando fatura do cartão de crédito...
        </div>
        }
    </div>
</div>