<h2 mat-dialog-title class="dialog-title">
    <mat-icon [class]="iconColor">{{ icon }}</mat-icon>
    {{ data.title }}
</h2>

<mat-dialog-content>
    {{ data.message }}
</mat-dialog-content>

<mat-dialog-actions class="dialog-actions">
    @if (data.cancelText){
    <button type="button" class="btn btn-light" (click)="onCancel()">
        {{ data.cancelText }}
    </button>
    }
    <button type="button" [class]="buttonColor" (click)="onConfirm()">
        {{ data.confirmText || "OK"}}
    </button>
</mat-dialog-actions>